<div class="card shadow text-bg-light h-100">
  <div class="row g-0">
    <div class="col-5">
      <img [src]="character.image" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-7">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <h6 class="card-subtitle mb-3 text-body-secondary">
          {{ character.status }} - {{ character.species }}
        </h6>
        <h6 class="card-subtitle text-body-secondary">Location:</h6>
        <p class="card-text">{{ character.location.name }}</p>
        <h6 class="card-subtitle text-body-secondary">Origin:</h6>
        <p class="card-text">{{ character.origin.name }}</p>
      </div>
    </div>
  </div>
</div>
